body {
    margin: 0 10px;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Roboto, Segoe UI, Arial, Helvetica, sans-serif;
    color: #333;
}

a {
    color: black;
    text-decoration: none;
    border-bottom: 1px dotted;
}

a:hover {
    border-bottom-style: solid;
}

nav {
    padding-top: 20px;
}

nav a {
    margin-right: 4px;
    line-height: 34px;
    vertical-align: top;
    font-weight: bold;
    border: 0;
}

nav a:first-child {
    position: relative;
    color: blue;
}

nav a:first-child img {
    display: none;
}


li a {
    font-weight: 500;
    border: 0;
}

li a:hover, nav a:hover {
    border-bottom: 1px solid;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
    font-weight: 500;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 1.625em;
}

h3 {
    font-size: 1.375em;
}

p, li, table {
    max-width: 600px;
    line-height: 1.7;
}

p img, iframe {
    width: 100%;
}

p img[src$="png"] {
    background: white;
}

ul {
    list-style-type: square
}

table {
    max-width: 800px;
    width: 100%;
}

th {
    text-align: left;
    border-bottom: 1px solid black;
    /* border-bottom: 1px solid ivory; */
}

td {
    padding: 1px;
}

blockquote {
    margin-left: 0;
    font-size: 1.125em;
    border-left: 2px solid;
}

pre {
    max-width: 760px;
    overflow-wrap: break-word;
    margin: 2em 0;
    line-height: 1.7;
    overflow: auto;
    border: 1px dashed;
}

blockquote, pre {
    padding-left: 38px;
}

@media (min-width: 1000px) {
    body {
        margin: 0 200px;
    }

    nav a:first-child img {
        display: block;
        position: absolute;
        top: -7px;
        left: -43px;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        vertical-align: top;
    }

    p img {
        width: 800px;
    }

    iframe {
        width: 600px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: black;
        color: ivory;
    }

    a {
        color: white;
    }

    nav a:first-child {
        color: dodgerblue;
    }

    th {
        border-bottom: 1px solid ivory;
    }
}

code {
    font-family: Monaco, Courier, monospace;
    font-size: 0.75em;
}
